input[type='checkbox'] {
    padding-right: 5px;
}

button {
    border-radius: 2px;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    min-width: 132px;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    background-color: #0060df;
    border-color: #0060df;
    text-align: center;
}

button:hover {
    background-color: #003eaa;
    border-color: #003eaa;
}

button:active {
    background-color: #002275;
    border-color: #002275;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #202023;
        color: white;
    }
}